function Mult.mult 2
  push constant 0
  pop local 0 // sum
  push constant 0
  pop local 1 // i
label WHILE_LOOP
  push local 1
  push argument 1
  lt
  not
  if-goto WHILE_END
  push argument 0
  push local 0
  add
  pop local 0
  push local 1
  push constant 1
  add
  pop local 1
  goto WHILE_LOOP
label WHILE_END
  push local 0
  return
